$BG: darkslategrey; 
$contrast: white;
$future: black;


html,body {
    background-color:$BG;
    overflow: hidden;
}
#Hero {
//    background-image: url("assets/cooking.jpg");
background-image:url("assets/cooking.jpg");
background-repeat:no-repeat;
height:100vh;
background-size: cover;
padding: 0 px;
margin: 0px;
}

#FPDesc {
    padding: 15px;
    width:25vw;
    text-align:center;
    color: $contrast;
    margin-right: 20px;
}
#Logger {
background-color: $BG;
border-style: 10px $contrast;
width: 50vw;
height: 25vh;
opacity: 90%;
display:inline-block;
text-align:center;
margin-left:25vw;
margin-top:400px;
box-shadow: 0 30px  30px rgba(0,0,0,.5);

}
h1 {
    color:$contrast;
    text-align:center;
    padding-top: 10px;
}

#Login {
    text-decoration: none;
    background-color:$BG;
    color: $contrast;
    padding: 5px;
    margin-bottom: 50px;
    width: 150px;
    border-color: white;
    //margin-left: 100px;  
    font-size: larger; 
}
